.background-image {
    width: 100%;
    height: 100%;
    background-image: url('https://t3.ftcdn.net/jpg/04/87/25/96/240_F_487259621_skN0Ty9jCZdoU5sdHpR5a0g5XmZ5ozep.jpg');
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    top: 50px
}